<div class="container">
    <div class="row my-5">
        <div class="col-9">
            <h3>Dettaglio fattura</h3>
            Numero fattura: <br>
            Data emissione: <br>
            Stato: <br>
            importo:
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-success btn-sm my-1" placement="right" ngbTooltip="Pagata"><i
                    class="bi bi-check-lg"></i></button><br>
            <button type="button" class="btn btn-warning btn-sm my-1" placement="right" ngbTooltip="Modifica"><i
                    class="bi bi-vector-pen"></i></button><br>
            <button type="button" class="btn btn-danger btn-sm my-1" placement="right" ngbTooltip="Elimina"><i
                    class="bi bi-trash"></i></button>
        </div>
    </div>
    <div class="row my-5">
        <div class="col">
            <h3>Cliente</h3>
            Ragione sociale: <br>
            P.Iva: <br>
            Indirizzo sede legale: <br>
            Indirizzo sede operativa: <br>
            Telefono: <br>
            Email: <br>
            PEC:
        </div>
    </div>
</div>