<div class="container">
    <form>
        <div class="form-group">
            <label for="ragioneSociale">Ragione Sociale</label>
            <input type="text" class="form-control" id="ragioneSociale" aria-describedby="emailHelp"
                placeholder="Ragione Sociale...">
        </div>
        <div class="form-group">
            <label for="partitaIva">Partita Iva</label>
            <input type="text" class="form-control" id="partitaIva" aria-describedby="emailHelp"
                placeholder="Partita Iva...">
        </div>
        <div class="form-group">
            <label for="tipoCliente">Tipo Cliente</label>
            <input type="text" class="form-control" id="tipoCliente" aria-describedby="emailHelp"
                placeholder="Tipo Cliente...">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email...">
        </div>
        <div class="form-group">
            <label for="pec">Pec</label>
            <input type="email" class="form-control" id="pec" aria-describedby="emailHelp" placeholder="Pec...">
        </div>
        <div class="form-group">
            <label for="telefono">Telefono</label>
            <input type="tel" class="form-control" id="telefono" aria-describedby="emailHelp" placeholder="Telefono...">
        </div>
        <div class="form-group">
            <label for="nomeContatto">Nome Contatto</label>
            <input type="text" class="form-control" id="nomeContatto" aria-describedby="emailHelp" placeholder="Nome Contatto...">
        </div>
        <div class="form-group">
            <label for="cognomeContatto">Cognome Contatto</label>
            <input type="text" class="form-control" id="cognomeContatto" aria-describedby="emailHelp" placeholder="Cognome Contatto...">
        </div>
        <div class="form-group">
            <label for="telefonoContatto">Telefono Contatto</label>
            <input type="text" class="form-control" id="telefonoContatto" aria-describedby="emailHelp" placeholder="Telefono Contatto...">
        </div>
        <div class="form-group">
            <label for="via">Via</label>
            <input type="text" class="form-control" id="via" aria-describedby="emailHelp" placeholder="Via...">
        </div>
        <div class="form-group">
            <label for="civico">Civico</label>
            <input type="text" class="form-control" id="civico" aria-describedby="emailHelp" placeholder="Civico...">
        </div>
        <div class="form-group">
            <label for="cap">Cap</label>
            <input type="text" class="form-control" id="cap" aria-describedby="emailHelp" placeholder="Cap...">
        </div>
        <div class="form-group">
            <label for="emailContatto">Email Contatto</label>
            <input type="text" class="form-control" id="emailContatto" aria-describedby="emailHelp" placeholder="Enter Contatto...">
        </div>
        <div class="form-group">
            <label for="localita">Localita</label>
            <input type="text" class="form-control" id="localita" aria-describedby="emailHelp" placeholder="Localita...">
        </div>
        <div class="form-group">
            <label for="comune">Comune</label>
            <input type="text" class="form-control" id="comune" aria-describedby="emailHelp" placeholder="Comune...">
        </div>
        <div class="form-group">
            <label for="provincia">Provincia</label>
            <input type="text" class="form-control" id="provincia" aria-describedby="emailHelp" placeholder="provincia...">
        </div>
        <div class="form-group">
            <label for="sigla">Sigla</label>
            <input type="text" class="form-control" id="sigla" aria-describedby="emailHelp" placeholder="sigla...">
        </div>
        <div class="form-group">
            <label for="via">Via</label>
            <input type="text" class="form-control" id="via" aria-describedby="emailHelp" placeholder="Via">
        </div>
        <div class="form-group">
            <label for="civico">Civico</label>
            <input type="text" class="form-control" id="civico" aria-describedby="emailHelp" placeholder="Civico...">
        </div>
        <div class="form-group">
            <label for="cap">Cap</label>
            <input type="text" class="form-control" id="cap" aria-describedby="emailHelp" placeholder="Cap...">
        </div>
        <div class="form-group">
            <label for="localita">Localita</label>
            <input type="text" class="form-control" id="localita" aria-describedby="emailHelp" placeholder="Localita...">
        </div>
        <div class="form-group">
            <label for="comune">Comune</label>
            <input type="text" class="form-control" id="comune" aria-describedby="emailHelp" placeholder="Comune...">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Provincia</label>
            <input type="text" class="form-control" id="" aria-describedby="emailHelp" placeholder="Provincia...">
        </div>
        <div class="form-group">
            <label for="sigla">Sigla</label>
            <input type="text" class="form-control" id="sigla" aria-describedby="emailHelp" placeholder="Sigla...">
        </div>
        <div class="form-group">
            <label for="dataUltimoContatto">Data Ultimo Contatto</label>
            <input type="text" class="form-control" id="dataUltimoContatto" aria-describedby="emailHelp" placeholder="Data ultimo contatto">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Fatturato Annuale</label>
            <input type="number" class="form-control" id="" aria-describedby="emailHelp" placeholder="Enter email">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>